<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RegionId" value="cn-hangzhou"/>
    <add key="AccessKeyId" value="AccessKeyId"/>
    <add key="AccessKeySecret" value="AccessKeySecret"/>
    <add key="DomainName" value="6mv6.com"/>
    <add key="MonitorHosts" value="n,jhabp,admin,api,identity,www,auto,jh,demo,wx"/>
    <add key="DomainType" value="A"/>
  </appSettings>
</configuration>